# Ignore log files and directories
logs/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore other sensitive or temporary files
*.env
*.tmp
.DS_Store

# Ignore common editor directories and files
.vscode/
.idea/
*.swp
